#pragma code_page(65001)

#define WOORT_MSVC_RC_INCLUDE

#include "woort.h"

#define WOORT_VERSION_WRAP(A, B, C, D) A,B,C,D

1 VERSIONINFO
FILEVERSION WOORT_VERSION
PRODUCTVERSION WOORT_VERSION
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x2L
FILESUBTYPE 0x0L

#define WOORT_VERSION_WRAP(A, B, C, D) #A "." #B "." #C "." #D

BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", ""
            VALUE "FileDescription", "Woort 运行时库文件"
            VALUE "FileVersion", WOORT_VERSION
            VALUE "LegalCopyright", "根据 Apache 许可证 2.0 版本授权"
            VALUE "InternalName", ""
            VALUE "OriginalFilename", ""
            VALUE "ProductName", "Woort"
            VALUE "ProductVersion", WOORT_VERSION
        END
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", ""
            VALUE "FileDescription", "Woort runtime library file."
            VALUE "FileVersion", WOORT_VERSION
            VALUE "LegalCopyright", "Licensed under the Apache License, Version 2.0"
            VALUE "InternalName", ""
            VALUE "OriginalFilename", ""
            VALUE "ProductName", "Woort"
            VALUE "ProductVersion", WOORT_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200, 0x409, 1200
    END
END

#undef WOORT_VERSION_WRAP

#undef WOORT_MSVC_RC_INCLUDE
